node_modules/
logs/
coverage/
.vscode/
.env
.idea
package-lock.json
tmp
yarn.lock
yarn-error.log
.eslintcache
.DS_Store
apidoc
translations.csv
storybook-static

src/styles/main.css
src/styles/tailwind-variables.sass
src/styles/_generated-variables.scss
src/styles/_theme.sass
src/dist/_generated-variables.scss
src/dist/_theme.sass