@import 'tailwind-variables'

.ant-menu-horizontal.base-menu
	background-color: transparent
	&.primary
		border-bottom: 0 !important
		@apply text-content_tertiary_light dark:text-content_tertiary_dark #{!important}
		.ant-menu-item
			border-radius: 6px
			&:hover
				@apply text-action_primary_default_light dark:text-action_primary_default_dark #{!important}

		.ant-menu-item-selected
			@apply text-action_primary_default_light dark:text-action_primary_default_dark #{!important}
			@apply bg-action_primary_bg10_light dark:bg-action_primary_bg10_dark #{!important}

		::after
			border-bottom: 0 !important

	&.secondary
		border-bottom: 0 !important
		@apply text-content_tertiary_light dark:text-content_tertiary_dark #{!important}
		.ant-menu-item
			border-radius: 6px
			&:hover
				@apply text-content_primary_light dark:text-content_primary_dark
				@apply bg-surface_secondary_light dark:bg-surface_secondary_dark

		.ant-menu-item-selected
			@apply text-content_primary_light dark:text-content_primary_dark #{!important}
			@apply bg-surface_tertiary_light dark:bg-surface_tertiary_dark  #{!important}

		::after
			border-bottom: 0 !important

	&.underlined-filled
		@apply text-content_tertiary_light dark:text-content_tertiary_dark #{!important}
		.ant-menu-item
			border-width: 0 0 2px 0 !important
			border-color: transparent
			&:hover
				@apply text-action_primary_default_light dark:text-action_primary_default_dark #{!important}
				@apply border-action_primary_default_light dark:border-action_primary_default_dark #{!important}

		.ant-menu-item-selected
			@apply text-action_primary_default_light dark:text-action_primary_default_dark #{!important}
			@apply border-action_primary_default_light dark:border-action_primary_default_dark #{!important}
			@apply bg-action_primary_bg10_light dark:bg-action_primary_bg10_dark
		::after
			border-bottom: 0 !important

	&.underlined
		@apply text-content_tertiary_light dark:text-content_tertiary_dark #{!important}
		.ant-menu-item
			border-width: 0 0 2px 0 !important
			border-color: transparent
			&:hover
				@apply text-action_primary_default_light dark:text-action_primary_default_dark #{!important}

		.ant-menu-item-selected
			@apply text-action_primary_default_light dark:text-action_primary_default_dark #{!important}
			@apply border-action_primary_default_light dark:border-action_primary_default_dark #{!important}

		::after
			border-bottom: 0 !important

	&.buttons
		@apply text-content_tertiary_light dark:text-content_tertiary_dark #{!important}
		@apply bg-surface_tertiary_light dark:bg-surface_tertiary_dark
		border-bottom: 0 !important
		border-top: 0 !important

		display: flex
		align-items: center
		padding-left: 6px
		padding-right: 6px

		&.small
			height: 44px !important
		&.medium
			height: 56px !important

		.ant-menu-item
			border-radius: 6px
			margin-bottom: 1px
			&:hover
				@apply text-content_primary_light dark:text-content_primary_dark #{!important}
				@apply bg-surface_primary_light dark:bg-surface_primary_dark
				box-shadow: $boxShadow-sm

		.ant-menu-item-selected
			@apply text-content_primary_light dark:text-content_primary_dark #{!important}
			@apply bg-surface_primary_light dark:bg-surface_primary_dark
			box-shadow: $boxShadow-sm

		::after
			border-bottom: 0 !important

	&.full-width
		display: flex
		align-items: center
		justify-content: center
		width: 100%
		flex-wrap: wrap
		.ant-menu-item
			flex: 1

	.ant-menu-item
		display: flex
		align-items: center
		justify-content: center

	&.small
		.ant-menu-item
			height: 36px !important
	&.medium
		.ant-menu-item
			height: 44px !important
