@import 'tailwind-variables'
@import 'typography'

.ant-menu-horizontal.base-menu
	background-color: transparent
	&.primary
		border-bottom: 0 !important
		@apply text-color-light-base-content-tertiary dark:text-color-dark-base-content-tertiary #{!important}
		.ant-menu-item
			border-radius: $borderRadius-6
			&:hover
				@apply text-color-light-base-action-primary-default dark:text-color-dark-base-action-primary-default #{!important}

		.ant-menu-item-selected
			@apply text-color-light-base-action-primary-default dark:text-color-dark-base-action-primary-default #{!important}
			@apply bg-color-light-base-action-primary-bg10 dark:bg-color-dark-base-action-primary-bg10 #{!important}

		::after
			border-width: 0 !important

	&.secondary
		border-bottom: 0 !important
		@apply text-color-light-base-content-tertiary dark:text-color-dark-base-content-tertiary #{!important}
		.ant-menu-item
			border-radius: $borderRadius-6
			&:hover
				@apply text-color-light-base-content-primary dark:text-color-dark-base-content-primary
				@apply bg-color-light-base-surface-secondary dark:bg-color-dark-base-surface-secondary

		.ant-menu-item-selected
			@apply text-color-light-base-content-primary dark:text-color-dark-base-content-primary #{!important}
			@apply bg-color-light-base-surface-tertiary dark:bg-color-dark-base-surface-tertiary  #{!important}

		::after
			border-width: 0 !important

	&.underlined-filled
		@apply text-color-light-base-content-tertiary dark:text-color-dark-base-content-tertiary #{!important}
		::after
			display: none
		.ant-menu-item
			border-style: solid
			border-width: $borderWidth-md
			border-top: 0
			border-left: 0
			border-right: 0
			border-radius: 0
			border-color: transparent
			&:hover
				@apply text-color-light-base-action-primary-default dark:text-color-dark-base-action-primary-default #{!important}
				@apply border-color-light-base-action-primary-default dark:border-color-dark-base-action-primary-default #{!important}

		.ant-menu-item-selected
			z-index: 2
			@apply text-color-light-base-action-primary-default dark:text-color-dark-base-action-primary-default #{!important}
			@apply border-color-light-base-action-primary-default dark:border-color-dark-base-action-primary-default #{!important}
			@apply bg-color-light-base-action-primary-bg10 dark:bg-color-dark-base-action-primary-bg10

	&.underlined
		@apply text-color-light-base-content-tertiary dark:text-color-dark-base-content-tertiary #{!important}
		::after
			display: none
		.ant-menu-item
			border-style: solid
			border-width: $borderWidth-md
			border-top: 0
			border-left: 0
			border-right: 0
			border-radius: 0
			border-color: transparent
			&:hover
				@apply text-color-light-base-action-primary-default dark:text-color-dark-base-action-primary-default #{!important}
		.ant-menu-item:not(.ant-menu-item-selected):hover::after
			transition: none !important
			display: none

		.ant-menu-item-selected
			z-index: 2
			@apply text-color-light-base-action-primary-default dark:text-color-dark-base-action-primary-default #{!important}
			@apply border-color-light-base-action-primary-default dark:border-color-dark-base-action-primary-default #{!important}

	&.buttons
		@apply text-color-light-base-content-tertiary dark:text-color-dark-base-content-tertiary #{!important}
		@apply bg-color-light-base-surface-tertiary dark:bg-color-dark-base-surface-tertiary
		border-bottom: 0 !important
		border-top: 0 !important

		display: flex
		align-items: center
		padding-left: 6px
		padding-right: 6px
		border-radius: $borderRadius-6

		&.small
			height: 44px !important
		&.medium
			height: 56px !important

		.ant-menu-item
			border-radius: $borderRadius-6
			margin-bottom: 1px
			&:hover
				@apply text-color-light-base-content-primary dark:text-color-dark-base-content-primary #{!important}
				@apply bg-color-light-base-surface-primary dark:bg-color-dark-base-surface-primary
				box-shadow: $boxShadow-drop-shadow-light-sm

		.ant-menu-item-selected
			@apply text-color-light-base-content-primary dark:text-color-dark-base-content-primary #{!important}
			@apply bg-color-light-base-surface-primary dark:bg-color-dark-base-surface-primary
			box-shadow: $boxShadow-drop-shadow-light-sm

		::after
			border-width: 0 !important

	&.full-width
		display: flex
		align-items: center
		justify-content: center
		width: 100%
		flex-wrap: wrap
		.ant-menu-item
			flex: 1

	.ant-menu-item
		display: flex
		align-items: center
		justify-content: center

	&.small
		@apply text-sm-semibold
		.ant-menu-item
			height: 36px !important
	&.medium
		@apply text-md-semibold #{!important}
		.ant-menu-item
			height: 44px !important
