@import 'tailwind-variables'
@import 'typography'

.ant-form-item.base-textarea
    &:not(.ant-form-item-label)
        @apply text-md-regular
    .ant-form-item-explain
        @apply text-sm-regular
    .ant-input
        resize: none
        border-radius: $borderRadius-lg
        border-color: transparent
        @apply bg-surface_tertiary_light dark:bg-surface_tertiary_dark

        &:hover:not(.ant-input-disabled)
            @apply bg-surface_quatenary_light dark:bg-surface_quatenary_dark
            @apply border-surface_quatenary_light dark:bg-surface_quatenary_dark

        &.ant-input-status-error:not(.ant-input-disabled)
            border: solid
            border-width: $borderWidth-xs
            @apply border-state_error_fg_light dark:border-state_error_fg_dark #{!important}
            @apply bg-surface_tertiary_light dark:bg-surface_tertiary_dark #{!important}
            box-shadow: none
            &:hover
                @apply bg-surface_quatenary_light dark:bg-surface_quatenary_dark #{!important}
            &:focus
                @apply border-action_primary_active_light dark:border-action_primary_active_dark #{!important}
                @apply bg-surface_primary_light dark:bg-surface_primary_dark #{!important}
                box-shadow: none

        &.ant-input-status-success:not(.ant-input-disabled)
            border: solid
            border-width: $borderWidth-xs
            @apply border-state_success_fg_light dark:border-state_success_fg_dark #{!important}
            @apply bg-surface_tertiary_light dark:bg-surface_tertiary_dark #{!important}
            box-shadow: none
            &:hover
                @apply bg-surface_quatenary_light dark:bg-surface_quatenary_dark #{!important}
            &:focus
                @apply border-action_primary_active_light dark:border-action_primary_active_dark #{!important}
                @apply bg-surface_primary_light dark:bg-surface_primary_dark #{!important}
                box-shadow: none

        &:focus
            border: solid
            box-shadow: none
            border-width: $borderWidth-xs
            @apply border-action_primary_active_light dark:border-action_primary_active_dark #{!important}
            @apply bg-surface_primary_light dark:bg-surface_primary_dark #{!important}

    .ant-input-disabled
        @apply bg-surface_tertiary_light dark:bg-surface_tertiary_dark #{!important}

    .ant-input-disabled:hover
        border-color: transparent
    
    .ant-input-disabled::placeholder
        @apply text-content_quintary_light dark:text-content_quintary_dark #{!important}

    .ant-input-sm
        padding-top: 2px
        padding-bottom: 2px
        padding-left: 8px
        padding-right: 4px

.ant-form-item-has-error.base-textarea
    .ant-form-item-row
        .ant-form-item-label 
            > label
                @apply text-state_error_fg_light dark:text-state_error_fg_dark #{!important}
        .ant-form-item-explain-error
            @apply text-state_error_fg_light dark:text-state_error_fg_dark #{!important}


.ant-form-item-has-success.base-textarea
    .ant-form-item-row
        .ant-form-item-label
            > label
                @apply text-state_success_fg_light dark:text-state_success_fg_dark #{!important}
        .ant-form-item-explain-error
            @apply text-state_success_fg_light dark:text-state_success_fg_dark #{!important}

.form-item-disabled.base-textarea
    .ant-form-item-row
        .ant-form-item-label > label
            @apply text-content_quintary_light dark:text-content_quintary_dark #{!important}
