@tailwind base
@tailwind components
@tailwind utilities
@import 'generated-variables.scss'

#root, .root, #docs-root
	--theme-additional-white: #{$additional_white}
	--theme-additional-black: #{$additional-black}
	--theme-additional-dsurface: #{$additional-dsurface}

	// light theme
	--light-theme-surface-primary: #{$light-theme-surface-primary}
	--light-theme-surface-secondary: #{$light-theme-surface-secondary}
	--light-theme-surface-tertiary: #{$light-theme-surface-tertiary}
	--light-theme-surface-quaternary: #{$light-theme-surface-quaternary}
	--light-theme-content-primary: #{$light-theme-content-primary}
	--light-theme-content-secondary: #{$light-theme-content-secondary}
	--light-theme-content-tertiary: #{$light-theme-content-tertiary}
	--light-theme-content-quaternary: #{$light-theme-content-quaternary}
	--light-theme-content-quintarny: #{$light-theme-content-quintarny}
	--light-theme-content-primary-inverse: #{$light-theme-content-primary-inverse}
	--light-theme-content-secondary-inverse: #{$light-theme-content-secondary-inverse}
	--light-theme-content-tertiary-inverse: #{$light-theme-content-tertiary-inverse}
	--light-theme-content-quartenary-inverse: #{$light-theme-content-quaternary-inverse}
	--light-theme-content-quintary-inverse: #{$light-theme-content-quintarny-inverse}
	--light-theme-action-primary-default: #{$light-theme-action-primary-default}
	--light-theme-action-primary-hover: #{$light-theme-action-primary-hover}
	--light-theme-action-primary-active: #{$light-theme-action-primary-active}
	--light-theme-action-primary-disable: #{$light-theme-action-primary-disable}
	--light-theme-action-primary-bg: #{$light-theme-action-primary-bg}
	--light-theme-action-primary-bg-ten: #{$light-theme-action-primary-bg10}
	--light-theme-action-secondary-default: #{$light-theme-action-secondary-default}
	--light-theme-action-secondary-hover: #{$light-theme-action-secondary-hover}
	--light-theme-action-secondary-active: #{$light-theme-action-secondary-active}
	--light-theme-action-secondary-disable: #{$light-theme-action-secondary-disable}
	--light-theme-action-secondary-bg: #{$light-theme-action-secondary-bg}
	--light-theme-action-secondary-bg-ten: #{$light-theme-action-secondary-bg10}
	--light-theme-action-destructive-default: #{$light-theme-action-destructive-default}
	--light-theme-action-destructive-hover: #{$light-theme-action-destructive-hover}
	--light-theme-action-destructive-active: #{$light-theme-action-destructive-active}
	--light-theme-action-destructive-disable: #{$light-theme-action-destructive-disable}
	--light-theme-action-destructive-bg: #{$light-theme-action-destructive-bg}
	--light-theme-action-destructive-bg-ten: #{$light-theme-action-destructive-bg10}
	--light-theme-state-success-fg: #{$light-theme-state-success-fg}
	--light-theme-state-success-bg: #{$light-theme-state-success-bg}
	--light-theme-state-warning-fg: #{$light-theme-state-warning-fg}
	--light-theme-state-warning-bg: #{$light-theme-state-warning-bg}
	--light-theme-state-error-fg: #{$light-theme-state-error-fg}
	--light-theme-state-error-bg: #{$light-theme-state-error-bg}
	--light-theme-state-info-fg: #{$light-theme-state-info-fg}
	--light-theme-state-info-bg: #{$light-theme-state-info-bg}
	--light-theme-state-help-fg: #{$light-theme-state-help-fg}
	--light-theme-state-help-bg: #{$light-theme-state-help-bg}
	--light-theme-ascent-primary-fg: #{$light-theme-ascent-1-fg}
	--light-theme-ascent-primary-bg: #{$light-theme-ascent-1-bg}
	--light-theme-ascent-secondary-fg: #{$light-theme-ascent-2-fg}
	--light-theme-ascent-secondary-bg: #{$light-theme-ascent-2-bg}
	--light-theme-ascent-tertiary-fg: #{$light-theme-ascent-3-fg}
	--light-theme-ascent-tertiary-bg: #{$light-theme-ascent-3-bg}
	--light-theme-ascent-quanternary-fg: #{$light-theme-ascent-4-fg}
	--light-theme-ascent-quanternary-bg: #{$light-theme-ascent-4-bg}
	--light-theme-ascent-quintary-fg: #{$light-theme-ascent-5-fg}
	--light-theme-ascent-quintary-bg: #{$light-theme-ascent-5-bg}

	// dark theme
	--dark-theme-surface-primary: #{$dark-theme-surface-primary}
	--dark-theme-surface-secondary: #{$dark-theme-surface-secondary}
	--dark-theme-surface-tertiary: #{$dark-theme-surface-tertiary}
	--dark-theme-surface-quaternary: #{$dark-theme-surface-quaternary}
	--dark-theme-content-primary: #{$dark-theme-content-primary}
	--dark-theme-content-secondary: #{$dark-theme-content-secondary}
	--dark-theme-content-tertiary: #{$dark-theme-content-tertiary}
	--dark-theme-content-quanternary: #{$dark-theme-content-quaternary}
	--dark-theme-content-quintarny: #{$dark-theme-content-quintarny}
	--dark-theme-content-primary-inverse: #{$dark-theme-content-primary-inverse}
	--dark-theme-content-secondary-inverse: #{$dark-theme-content-secondary-inverse}
	--dark-theme-content-tertiary-inverse: #{$dark-theme-content-tertiary-inverse}
	--dark-theme-content-quartenary-inverse: #{$dark-theme-content-quaternary-inverse}
	--dark-theme-content-quintary-inverse: #{$dark-theme-content-quintarny-inverse}
	--dark-theme-action-primary-default: #{$dark-theme-action-primary-default}
	--dark-theme-action-primary-hover: #{$dark-theme-action-primary-hover}
	--dark-theme-action-primary-active: #{$dark-theme-action-primary-active}
	--dark-theme-action-primary-disable: #{$dark-theme-action-primary-disable}
	--dark-theme-action-primary-bg: #{$dark-theme-action-primary-bg}
	--dark-theme-action-primary-bg-ten: #{$dark-theme-action-primary-bg10}
	--dark-theme-action-secondary-default: #{$dark-theme-action-secondary-default}
	--dark-theme-action-secondary-hover: #{$dark-theme-action-secondary-hover}
	--dark-theme-action-secondary-active: #{$dark-theme-action-secondary-active}
	--dark-theme-action-secondary-disable: #{$dark-theme-action-secondary-disable}
	--dark-theme-action-secondary-bg: #{$dark-theme-action-secondary-bg}
	--dark-theme-action-secondary-bg-ten: #{$dark-theme-action-secondary-bg10}
	--dark-theme-action-destructive-default: #{$dark-theme-action-destructive-default}
	--dark-theme-action-destructive-hover: #{$dark-theme-action-destructive-hover}
	--dark-theme-action-destructive-active: #{$dark-theme-action-destructive-active}
	--dark-theme-action-destructive-disable: #{$dark-theme-action-destructive-disable}
	--dark-theme-action-destructive-bg: #{$dark-theme-action-destructive-bg}
	--dark-theme-action-destructive-bg-ten: #{$dark-theme-action-destructive-bg10}
	--dark-theme-state-success-fg: #{$dark-theme-state-success-fg}
	--dark-theme-state-success-bg: #{$dark-theme-state-success-bg}
	--dark-theme-state-warning-fg: #{$dark-theme-state-warning-fg}
	--dark-theme-state-warning-bg: #{$dark-theme-state-warning-bg}
	--dark-theme-state-error-fg: #{$dark-theme-state-error-fg}
	--dark-theme-state-error-bg: #{$dark-theme-state-error-bg}
	--dark-theme-state-info-fg: #{$dark-theme-state-info-fg}
	--dark-theme-state-info-bg: #{$dark-theme-state-info-bg}
	--dark-theme-state-help-fg: #{$dark-theme-state-help-fg}
	--dark-theme-state-help-bg: #{$dark-theme-state-help-bg}
	--dark-theme-ascent-primary-fg: #{$dark-theme-ascent-1-fg}
	--dark-theme-ascent-primary-bg: #{$dark-theme-ascent-1-bg}
	--dark-theme-ascent-secondary-fg: #{$dark-theme-ascent-2-fg}
	--dark-theme-ascent-secondary-bg: #{$dark-theme-ascent-2-bg}
	--dark-theme-ascent-tertiary-fg: #{$dark-theme-ascent-3-fg}
	--dark-theme-ascent-tertiary-bg: #{$dark-theme-ascent-3-bg}
	--dark-theme-ascent-quanternary-fg: #{$dark-theme-ascent-4-fg}
	--dark-theme-ascent-quanternary-bg: #{$dark-theme-ascent-4-bg}
	--dark-theme-ascent-quintary-fg: #{$dark-theme-ascent-5-fg}
	--dark-theme-ascent-quintary-bg: #{$dark-theme-ascent-5-bg}

	// border-radius
	--border-radius-none: #{$border-radius-none}
	--border-radius-xxxs: #{$border-radius-xxxs}
	--border-radius-xxs: #{$border-radius-xxs}
	--border-radius-xs: #{$border-radius-xs}
	--border-radius-sm: #{$border-radius-sm}
	--border-radius-md: #{$border-radius-md}
	--border-radius-xl: #{$border-radius-xl}
	--border-radius-xxl: #{$border-radius-xxl}
	--border-radius-xxxl: #{$border-radius-xxxl}
	--border-radius-lg: #{$border-radius-lg}

	// border-width
	--border-width-xs: #{$border-width-xs}
	--border-width-sm: #{$border-width-sm}
	--border-width-md: #{$border-width-md}
	--border-width-lg: #{$border-width-lg}

	// spacing
	--spacing-xxs: #{$spacing-xxs}
	--spacing-xs: #{$spacing-xs}
	--spacing-sm: #{$spacing-sm}
	--spacing-md: #{$spacing-md}
	--spacing-lg: #{$spacing-lg}
	--spacing-xl: #{$spacing-xl}
	--spacing-xxl: #{$spacing-xxl}
	--spacing-xxxl: #{$spacing-xxxl}

	// shadow
	--shadow-xs: #{$shadow-xs}
	--shadow-sm: #{$shadow-sm}
	--shadow-md: #{$shadow-md}
	--shadow-lg: #{$shadow-lg}
	--shadow-xl: #{$shadow-xl}
	--shadow-xxl: #{$shadow-xxl}
	--shadow-inner: #{$shadow-inner}
	--focusring-primary-light: #{$light-theme-focus-ring-primary}
	--focusring-secondary-light: #{$light-theme-focus-ring-secondary}
	--focusring-destructive-light: #{$light-theme-focus-ring-destructive}
	--focusring-primary-dark: #{$dark-theme-focus-ring-primary}
	--focusring-secondary-dark: #{$dark-theme-focus-ring-secondary}
	--focusring-destructive-dark: #{$dark-theme-focus-ring-destructive}

	// TYPOGRAPHY
	// fontSize
	--fontsize-txt-xs: #{$font-size-txt-xs}
	--fontsize-txt-sm: #{$font-size-txt-sm}
	--fontsize-txt-md: #{$font-size-txt-md}
	--fontsize-txt-lg: #{$font-size-txt-lg}
	--fontsize-txt-xl: #{$font-size-txt-xl}
	--fontsize-heading-xs: #{$font-size-heading-xs}
	--fontsize-heading-sm: #{$font-size-heading-sm}
	--fontsize-heading-md: #{$font-size-heading-md}
	--fontsize-heading-lg: #{$font-size-heading-lg}
	--fontsize-heading-xl: #{$font-size-heading-xl}
	--fontsize-heading-xxl: #{$font-size-heading-xxl}

	// lineHeight -> regular nezavadza, typo rovnakeho typu ma rovnaky lineheight
	--lineheight-txt-xs: #{$txt-xs-regular-line-height}
	--lineheight-txt-sm: #{$txt-sm-regular-line-height}
	--lineheight-txt-md: #{$txt-md-regular-line-height}
	--lineheight-txt-lg: #{$txt-lg-regular-line-height}
	--lineheight-txt-xl: #{$txt-xl-regular-line-height}
	--lineheight-heading-xs: #{$heading-xs-regular-line-height}
	--lineheight-heading-sm: #{$heading-sm-regular-line-height}
	--lineheight-heading-md: #{$heading-md-regular-line-height}
	--lineheight-heading-lg: #{$heading-lg-regular-line-height}
	--lineheight-heading-xl: #{$heading-xl-regular-line-height}
	--lineheight-heading-xxl: #{$heading-xxl-regular-line-height}

	// letterSpacing -> regular nezavadza, typo rovnakeho typu ma rovnaky letterspacing
	--letterspacing-txt-xs: #{$txt-xs-regular-letter-spacing}
	--letterspacing-txt-sm: #{$txt-sm-regular-letter-spacing}
	--letterspacing-txt-md: #{$txt-md-regular-letter-spacing}
	--letterspacing-txt-lg: #{$txt-lg-regular-letter-spacing}
	--letterspacing-txt-xl: #{$txt-xl-regular-letter-spacing}
	--letterspacing-heading-xs: #{$heading-xs-regular-letter-spacing}
	--letterspacing-heading-sm: #{$heading-sm-regular-letter-spacing}
	--letterspacing-heading-md: #{$heading-md-regular-letter-spacing}
	--letterspacing-heading-lg: #{$heading-lg-regular-letter-spacing}
	--letterspacing-heading-xl: #{$heading-xl-regular-letter-spacing}
	--letterspacing-heading-xxl: #{$heading-xxl-regular-letter-spacing}
